<div class="my-4 p-4 flex">
  <div>
    <img src="{{@url}}" width=60 />
  </div>
  <div class="flex-grow ml-4">{{@name}} by {{@artist}}</div>
  <div class="mr-4">
    {{#if this.selectSong}}
      <button
        onclick={{action (mut this.selectSong) false}}
        class="bg-yellow-600 border text-white p-2 float-right rounded-md"
      >
        Cancel
      </button>
    {{else}}
      <button
        onclick={{action (mut this.selectSong) true}}
        class="bg-blue-600 border text-white p-2 float-right rounded-md"
      >
        Claim
      </button>
    {{/if}}
  </div>
</div>

{{#if this.selectSong}}
{{#let (hash
    title=@name
    artist=@artist
    trackId=@id
    previewUrl=@previewUrl
  ) as |song| }}
    <Player @song={{song}}>
      <ClaimEmail @song={{song}} />
    </Player>
  {{/let}}
{{/if}}

<div class="border-b"> </div>